.THIS .atlasBox {
    background-color: white;
    border: 1px solid #d4d4d4;
    /* replace #xxxxxx with appropriate hex value or rgb(xx, xx, xx)
    * THERE MUST ALWAYS BE A SEMICOLON AT THE END OF THE LINE */
}

.THIS .atlTitle {
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 15px;
    text-align: center;
}

.THIS .atlSubtitle {
    font-weight: bold;
    font-size: 15pt;
    padding-bottom: 10px;
    text-align: center;
    color: #2a244d;
}

.THIS .slds-select {
    border: 1px solid white;
    border-radius: .25rem;
    background-color: #2a244d;
    color: white;
}

.THIS .slds-select_container:before {
    border-bottom: 5px solid white !important;
}   
.THIS .slds-select_container:after {
    border-top: 5px solid white !important;
}
/*.THIS .iconCircle {
width: 2rem;
height: 2rem;
border: 1px solid rgb(244, 244, 244);
border-radius: 50%;
background-color: #2a244d;
}

.THIS .atlasLink {
color: black !important;
}*/

.THIS .atlasLink:hover {
    text-decoration: underline;
    color: #39619a !important;
}

.THIS .slds-checkbox_faux::before {
    background-color: #97bb3a;
}

.THIS .slds-form-element__label {
    font-size: 10pt;
}

.THIS  abbr.slds-required {
    display: none;
}

.THIS .slds-icon-text-default {
    fill: #2a244d;
}

.THIS .heightFull {
    height: 100%;
}

.THIS .downloadLink {
    font-style: italic;
    font-weight: bold;
}

.THIS .showAllCell {
    text-align: center;
    margin: 10px 0px;
}

.THIS .center {
    text-align: center;
}

.THIS .atlSubtitle img {
    width: 33%;
    max-width: 50%;
    padding-bottom: 30px;
}

.THIS img {
    padding-bottom: 15px;
}