.THIS .atlasBox {
    background-color: white;
    border: 10px solid #f4f4f4;
    /* replace #xxxxxx with appropriate hex value or rgb(xx, xx, xx)
    * THERE MUST ALWAYS BE A SEMICOLON AT THE END OF THE LINE */
    border-top: 0px;
}

.THIS .atlTitle {
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 15px;
    text-align: center;
}

.THIS .atlSubtitle {
    font-weight: bold;
    font-size: 15pt;
    padding-bottom: 10px;
    text-align: center;
    color: #2a244d;
}

.THIS .slds-select {
    border: 1px solid white;
    border-radius: .25rem;
    background-color: #2a244d;
    color: white;
}

.THIS .slds-select_container::before {
    border-color: thin solid white !important;
}

.THIS .slds-select_container::after {
    border-color: thin solid white !important;
}

/*.THIS .iconCircle {
width: 2rem;
height: 2rem;
border: 1px solid rgb(244, 244, 244);
border-radius: 50%;
background-color: #2a244d;
}

.THIS .atlasLink {
color: black !important;
}*/

.THIS .atlasLink:hover {
    text-decoration: underline;
}

.THIS .slds-checkbox_faux::before {
    background-color: #97bb3a;
}

.THIS .slds-form-element__label {
    font-size: 10pt;
}

.THIS  abbr.slds-required {
    display: none;
}

.THIS .slds-icon-text-default {
    fill: #2a244d;
}

.THIS .heightFull {
    height: 100%;
}

.THIS .downloadLink {
    font-style: italic;
    font-weight: bold;
}

.THIS .atlIcon {
    margin-right: 12px;
}